@model QRCodesRUs.Web.ViewModels.CodeCreateNewCodeViewModel

<div class="jumbotron">
    <h1>Code generation</h1>
    <p class="lead">
        Welcome to the wonders of code generation
    </p>
    
    Here's where the image should be
    <img src="@Url.Content(Model.PathToCode)"/>
</div>
