@model QRCodesRUs.Web.ViewModels.CodeIndexViewModel

<div class="row">
    <h1>Generate a new password qr code</h1>
    <p class="lead">
        Use this to create a QR code of your wifi password.
    </p>
    <p class="caption">
        Please note that while we obviuously have your password stored in the qr code that generate,
        we do not have your wifi name, so we can't use this to gain access to your network.
    </p>

    @using (Html.BeginForm("Index", "Code", null, FormMethod.Post, new {role = "form"}))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserCode, "Enter your password here")
            @Html.TextBoxFor(m => m.UserCode, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UserCode)
        </div>
        
        <button type="submit" class="btn btn-default">Generate!</button>
    }
</div>