@model QRCodesRUs.Web.ViewModels.QrCodeDisplayViewModel

<div class="row">
    <h1>Your code</h1>
    <img src="@Url.HttpRouteUrl("Image", new RouteValueDictionary{{"id", @Model.Id.Id.ToString()}})"/>
</div>