<div class="jumbotron">
    <h1>QR Codes 'r Us</h1>
    <p class="lead">
        Generate a QR Code for your wifi password.
    </p>
    <p class="center-block">
        Things go here
    </p>
</div>
