<div class="jumbotron">
    <h1>QR Codes 'r Us</h1>
    <p class="lead">
        Generate a QR Code for your wifi password.
    </p>
    <p>
        <a class="btn btn-lg btn-success" href="@Url.Action("Index", "Code")" role="button">Generate a qr code now</a>
    </p>
</div>

<div class="row">
    <p class="center-block">
        Use this site to generate a printable qr code for your wifi password (or really any other purpose).
    </p>
    <p>
        You should do this as it will make it easy to have a secure password that is shareable with guests to your house.
    </p>
</div>
