@model QRCodesRUs.Web.ViewModels.QrCodeDisplayViewModel
@{
    
    var imageUrl = Url.HttpRouteUrl("Image", new RouteValueDictionary { { "id", @Model.Id.Id.ToString() }});
}

<div class="container-fluid">
    <div class="row">
        <span class="h1 col-md-8">Your code</span>
        <span class="col-md-4 text-center">
            <a href="@imageUrl">Print</a>
        </span>
    </div>
    
    <div class="row">
        <span class="col-md-4 col-md-offset-4">
            <img src="@imageUrl" alt="QR code image" />
        </span>
    </div>
    
    <div class="row">
        @foreach (var product in Model.Products)
        {
            Html.RenderPartial("_ProductDisplay", product);
        }
    </div>
</div>